<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<th:block th:include="fragments/resources"></th:block>
</head>

<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Gestionar empleados</h4>
				<div class="form-row">
					<div class="col-md-6">
						<div class="form-group">
							<a th:href="@{/empleados/nuevo}" class="btn btn-primary">Nuevo
								empleado</a>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="idTableEmpleado" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Empleado</th>
								<th>DNI</th>
								<th>Fecha de Nacimiento</th>
								<th>Tipo</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="empleado :  ${listaEmpleados}">
								<tr>
									<td th:text="${empleado.idEmpleado}"></td>
									<td th:text="${empleado.nombres}"></td>
									<td th:text="${empleado.documento}"></td>
									<td th:text="${empleado.fechaNacimiento}"></td>
									<td th:text="${empleado.tipoEmpleado.descripcion}"></td>
									<td></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready( function() {
				$("#idTableEmpleado").DataTable();
			});
		</script>

	</section>
</body>
</html>